<mat-nav-list>
  
    <a mat-list-item routerLinkActive="list-item-active"><img class="myClassIcons" src="./../../../assets/images/checklist.png"></a>
 
    <div class="separator-breadcrumb border-top mt-2"></div>

    <a mat-list-item routerLinkActive="list-item-active"><img class="myClassIcons" src="./../../../assets/images/geolocation.png"></a>

    <div class="separator-breadcrumb border-top mt-2"></div>
    
    <a mat-list-item routerLinkActive="list-item-active"><img class="myClassIcons" src="./../../../assets/images/local.png"></a>

    <div class="separator-breadcrumb border-top mt-2"></div>

    <a mat-list-item routerLinkActive="list-item-active"><img class="myClassIcons" src="./../../../assets/images/trabajadores.png"></a>

    <div class="separator-breadcrumb border-top mt-2"></div>

    <a mat-list-item routerLinkActive="list-item-active"><img class="myClassIcons" src="./../../../assets/images/furniture.png"></a>

    <div class="separator-breadcrumb border-top mt-2"></div>
    
    <a mat-list-item routerLinkActive="list-item-active"><img class="myClassIcons" src="./../../../assets/images/work.png"></a>

    <div class="separator-breadcrumb border-top mt-2"></div>
    
    <a mat-list-item routerLinkActive="list-item-active"><img class="myClassIcons" src="./../../../assets/images/calendar.png"></a>
    
    <div class="separator-breadcrumb border-top mt-2"></div>

    <mat-divider></mat-divider>
  
    <!--<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
          <mat-icon>import_contacts</mat-icon>
          Contacts
      </a>
  
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
          <mat-icon>contact_phone</mat-icon>
          Leads
      </a>-->
  
  </mat-nav-list>
