li{
    list-style: none;
}

.myClassDoc{
    background-color:transparent !important;
    height: 45px;
}

.myClassParrafo{
    font-weight: bold;
}

.myClassHover{
    cursor: pointer;
}

.myClassHover:hover{
    background-color: rgba(245, 245, 255, 0.678);
}

.myClassInfo{
    background-color: rgb(170, 221, 255);
    border: 1px solid rgb(88, 88, 255);
    font-size: 11px;
    font-weight: bold;
    border-radius: 20px;
}

.myClassDescription{
    font-size: 13px;
    font-family: 'Playfair Display', serif;
}

ngb-panel{
    background-color: blue;
}